@model WEBBERBERODEV.Models.Calisan

@{
    ViewData["Title"] = "Çalışan Sil";
}

<h1>Çalışan Sil</h1>

<h3>Bu çalışanı silmek istediğinize emin misiniz?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">Ad</dt>
        <dd class="col-sm-10">@Model.Ad</dd>
        <dt class="col-sm-2">Soyad</dt>
        <dd class="col-sm-10">@Model.Soyad</dd>
        <dt class="col-sm-2">Uzmanlık</dt>
        <dd class="col-sm-10">@Model.Uzmanlik</dd>
        <dt class="col-sm-2">Aktif Mi</dt>
        <dd class="col-sm-10">@(Model.AktifMi ? "Evet" : "Hayır")</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Sil</button>
        <a class="btn btn-secondary" asp-action="Index">Geri</a>
    </form>
</div>
